/* global */
html,
.container {
    scrollbar-width: auto;
    scrollbar-gutter: stable;
}
/* chrome */
@supports (selector(::-webkit-scrollbar)) {
    html,
    .container {
        scrollbar-color: auto;
    }
    body::-webkit-scrollbar,
    .container::-webkit-scrollbar {
        width: 30rem;
    }
    body::-webkit-scrollbar-track,
    .container::-webkit-scrollbar-track {
        background-color: #ff6565;
        box-shadow: inset 0 0 10rem rgba(0, 0, 0, 0.5);
    }
    body::-webkit-scrollbar-thumb,
    .container::-webkit-scrollbar-thumb {
        background-color: #0011f5;
        border-radius: 10rem;
        cursor: pointer;
    }
}
/* firefox */
@supports (not selector(::-webkit-scrollbar)) {
    html,
    .container {
        scrollbar-color: #0011f5 #ff6565;
    }
}
