@use '../_config/vars';

/* inspired by https://clamp.font-size.app/ */
html {
    /* 0-1920px */
    /* (min: 320px / 0.5px, max: 1920px / 1px) */
    font-size: calc(clamp(0.03125rem, 0.025rem + 0.0313vw, 0.0625rem) * var(--zoom-factor, 1));
    @media (min-width: 1920px) {
        & {
            /* 1920px-7680px */
            /* (min: 1920px / 1px, max: 7680px / 5px) */
            font-size: calc(clamp(0.0625rem, -0.0208rem + 0.0694vw, 0.3125rem) * var(--zoom-factor, 1));
        }
    }
}

/* set the base font size to e.g. 16rem */
body,
td,
th,
button {
    font-size: vars.$font-size-medium;
}
