/* fonts */
@use '../_basic/_assorted/_fonts';

/* colors */
:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-red: #e20b31;
}

/* core */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* utilities */
@layer utilities {
    .scrollbar {
        scrollbar-color: var(--color-black) var(--color-white);
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 0.75rem;
            height: 0.75rem;
        }
        &::-webkit-scrollbar-track {
            background-color: var(--color-white);
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--color-black);
        }
    }
    .selection-color,
    .selection-color * {
        ::selection {
            background: var(--color-black);
            color: var(--color-white);
        }
        ::-moz-selection {
            background: var(--color-black);
            color: var(--color-white);
        }
        ::-webkit-selection {
            background: var(--color-black);
            color: var(--color-white);
        }
    }
    .responsive-typography {
        /* see _rem.scss */
        $font-size-medium: 16rem;
        font-size: calc(clamp(0.03125rem, 0.025rem + 0.0313vw, 0.0625rem) * var(--zoom-factor, 1));
        @media (min-width: 1920px) {
            & {
                font-size: calc(clamp(0.0625rem, -0.0208rem + 0.0694vw, 0.3125rem) * var(--zoom-factor, 1));
            }
        }
        body,
        td,
        th,
        button {
            font-size: $font-size-medium;
        }
    }
    .responsive-typography_legacy {
        $rem_font_size_small: 8;
        $rem_breakpoint_small: 320;
        $rem_font_size_big: 18;
        $rem_breakpoint_big: 1920;

        font-size: #{$rem_font_size_small}px;

        @media ( min-width: #{$rem_breakpoint_small}px ) {
            & {
                font-size: calc(
                    #{$rem_font_size_small}px + #{$rem_font_size_big - $rem_font_size_small} *
                        (100vw - #{$rem_breakpoint_small}px) / #{$rem_breakpoint_big - $rem_breakpoint_small}
                );
            }
        }
        @media ( min-width: #{$rem_breakpoint_big}px ) {
            & {
                font-size: calc(#{$rem_font_size_big}px);
            }
        }
    }
    .hyphenate {
        hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;

        word-wrap: break-word;
        overflow-wrap: break-word;

        hyphenate-limit-chars: 10 3 4;
        -ms-hyphenate-limit-chars: 10 3 4;
        -webkit-hyphenate-limit-before: 3;
        -webkit-hyphenate-limit-after: 4;
    }
    .no-hyphenate {
        overflow-wrap: normal;
        word-wrap: normal;
        -webkit-hyphens: manual;
        -ms-hyphens: manual;
        -moz-hyphens: manual;
        hyphens: manual;
    }
}
