@use "../_config/vars";

@mixin clearfix {
    &:after {
        clear: both;
        display: table;
        content: '';
    }
}

@mixin perf {
    transform: translateZ(0);
}

@mixin title {
    font-weight: bold;
    margin-top: 20rem;
    &:first-child {
        margin-top: 0;
    }
}

@mixin subtitle {
    font-weight: bold;
    margin-top: 10rem;
    &:first-child {
        margin-top: 0;
    }
}

@mixin valign {
    text-align: center;
    white-space: nowrap;
    font-size: 0;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    & > * {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        font-size: vars.$font-size-medium;
        white-space: normal;
    }
}

/* you also can include subclasses */
@mixin content {
    h2 {
        font-size: vars.$font-size-big;
        margin-bottom: vars.$space-medium;
    }
    strong {
        font-weight: bold;
    }
    p {
        margin-bottom: vars.$space-medium;
    }
    *:last-child {
        margin-bottom: 0;
    }
}

@mixin responsive-big {
    @media screen and (max-width: vars.$breakpoint-big) {
        @content;
    }
}

@mixin responsive-medium {
    @media screen and (max-width: vars.$breakpoint-medium) {
        @content;
    }
}

@mixin responsive-small {
    @media screen and (max-width: vars.$breakpoint-small) {
        @content;
    }
}

/* you can achieve "dynamic variables" that change on viewports */
@mixin padding {
    padding:vars.$space-big;
    @include responsive-medium { padding: vars.$space-medium; }
    @include responsive-small { padding: vars.$space-small; }
}

@mixin cursor($type, $important: false) {
    $cursor-value: default;
    @if $type == default {
        $cursor-value:
            image-set(url('../_assets/cursor-default.png') 1x, url('../_assets/cursor-default@2x.png') 2x) 8 8,
            default;
    } @else if $type == pointer {
        $cursor-value:
            image-set(url('../_assets/cursor-pointer.png') 1x, url('../_assets/cursor-pointer@2x.png') 2x) 10 6,
            pointer;
    } @else if $type == text {
        $cursor-value:
            image-set(url('../_assets/cursor-text.png') 1x, url('../_assets/cursor-text@2x.png') 2x) 15 16,
            text;
    } @else if $type == wait {
        $cursor-value:
            image-set(url('../_assets/cursor-wait.png') 1x, url('../_assets/cursor-wait@2x.png') 2x) 8 8,
            none;
    }
    @if $important {
        cursor: #{$cursor-value} !important;
    } @else {
        cursor: #{$cursor-value};
    }
}
